@function z-rem($value) {
    @if $value == 0 {
        @return 0;
    }

    $remValue: null;
    
    @if type-of($value) == 'list' {
        @each $loopValue in $value {

            // Prevent "null" from existing in list
            @if $remValue == null {
                $remValue: z-rem($loopValue);
            } @else {
                $remValue: append($remValue, z-rem($loopValue));
            }

        }
    } @else {
        $remValue: 1rem * ( z-strip-unit($value) / z-strip-unit($z-root-font-size) );
    }

    @return $remValue;
}

@mixin z-rem($value, $property: 'font-size') {
    #{$property}: $value; // Regular px (fallback)
    #{$property}: z-rem($value); // In rem
}
